.container
  box-sizing border-box
  width 100vw
  height 100vh
  background-color #212121

.inner-container
  width 35vw
  height 80vh
  margin 0 auto
  position relative
  display flex
  justify-content center

.middle
  // margin-top 70px

  h2
    display block
    margin 50px
    padding 20px

.button
  width 75%
  display: flex;
  flex-flow: column;
  // justify-content: flex-end;
  // padding-top: 100px

  a.sign, a.log
    display block
    text-decoration none
    text-align center
    color #fff
    margin-bottom 15px
    border 2px solid #fff
    border-radius 50px
    padding-top: 5px

  a:hover
    background-color #AB47BC
    color #fff
