label, .label
  padding-left 10px
  color #fff
  display block

.for-radio label
  display inline-block
  padding 0px 15px

.for-radio span.label
  margin-bottom 15px

.for-radio input
  display inline-block
  width auto
