html
  font-size 62.5%

body
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  font-family 'Hind Guntur', sans-serif
  font-size 2rem

h2
  font-family 'Comfortaa', sans-serif
  font-size 7rem
  font-weight bold
  color #64FFDA
  text-shadow 2px 2px #212121

a
  font-size: 3rem
